<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <title></title>
        <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.css" rel="stylesheet">-->
        <style></style>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 margin-tb">
                    <form method="post"  enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p}}
                        <div class="form-inline">
                         <!--{%  for tag in tags  %}-->
                                <!--<div class="form-group">-->
                         <!--<input name="tag" type="checkbox" value="{{ tag.id }}">-->

                        <!--<label >{{ tag.tagName }}</label>-->
                                <!--</div>-->
                        <!--{% endfor %}-->
                         </div>
                         <input type="submit" value="Submit" />
                    </form>
 <!--<input type="text"  name="username"  id="newtags" >-->
                            <!--<button id="my">ajax</button>-->

                </div>
            </div>

        </div>
    </body>
   <script>
       $(document).ready(function(){
            $('#my').on('click' , function(){

              var tag=$("#newtags").val();


               $.ajax({
                url:"{% url 'ajax_create' %}",
                data: {'tag': tag},
                dataType: 'json',
                success: function(){
                   console.log("ddddddddddddd");
                },
              });

            });



       });
   </script>
</html>
