<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 margin-tb">
                    <div class="pull-left">
                        <h1>All categorys</h1>
                    </div>
                    <div class="pull-right">
                        <a class="btn btn-primary" > logout</a>
                    </div>
                    <div class="pull-right">
                        <a class="btn btn-success" href="{% url 'createcat' %}" > Create New Category</a>
                    </div>
                </div>
            </div>

            <table class="table table-bordered">
                <tr>
                    <th>No</th>
                    <th>name</th>

                    <th width="280px">Action</th>
                </tr>
                    {%  for cat in cats  %}
                <tr>
                    <td> {{ cat.id}} </td>
                    <td> {{ cat.name}} </td>

                    <td>
                        <a class="btn btn-primary" href="{{cat.id}}/update">Edit</a>
                        <a class="btn btn-danger" href="{{cat.id}}/delete">Delete</a>
                    </td>
                </tr>
                    {%   endfor %}
            </table>

        </div>
    </body>
</html>