{% extends  'base.html'    %}
{% block content %}
{% load staticfiles%}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Posts table </h4>
                                <a  class="btn btn-success pull-right"  href="{% url 'create' %}"  > Create </a>
                            </div>
                            {% if messages %}
                                <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                  {% endfor %}
                                </ul>
                                {% endif %}
                            <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
                                    <thead>
                                    <th>No </th>
                                    <th>title</th>
                                    <th>image</th>
                                    <th>Text</th>
                                    <th>Category</th>
                                    <th> date</th>
                                    <th> tags </th>
                                    <th width="280px">Action</th>
                                    </thead>
                                    <tbody>
                                      {%  for post in posts  %}
                                    <tr>
                                    <td> {{ forloop.counter }} </td>
                                    <td>{{ post.title }}</td>
                                        <td><img  width="100px" height="100px" src="{% static 'images/' %}{{post.img}}"  /></td>
                                    <td>{{ post.text}}</td>
                                    <td> {{ post.cat}}</td>
                                    <td>{{ post.publish_date}}</td>
                                    <td>
                                        {%     for tag in tags       %}
                                            {% if tag.post.id == post.id %}

                                            {{  tag.tag.tagName }}

                                            {% endif %}

                                        {%   endfor         %}
                                    </td>
                                    <td>
                                        <a class="btn btn-primary" href="{{post.id}}/update">Edit</a>
                                        <a class="btn btn-danger" href="{{post.id}}/delete">Delete</a>
                                    </td>
                                        </tr>
                                    {%   endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{%  endblock  %}
{% block title %} Posts {%  endblock %}


