{% extends  'base.html'    %}
{% block content %}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Tags </h4>
                                <a  class="btn btn-success pull-right"  href="{% url 'createtag' %}"  > Create </a>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>name</th>
                                        <th width="280px">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {%  for tag in tags  %}
                                    <tr>
                                        <td> {{ forloop.counter }} </td>
                                        <td> {{ tag.tagName}} </td>
                                        <td>
                                            <a class="btn btn-primary" href="{{tag.id}}/update">Edit</a>
                                            <a class="btn btn-danger" href="{{tag.id}}/delete">Delete</a>
                                        </td>
                                    </tr>
                                        {%   endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{%  endblock  %}
{% block title %} Tags {%  endblock %}

